<h4 class="text-left">Labs</h4>
<table class="table table-sm">
  <thead>
  <tr>
    <th scope="col">Tests</th>
    <th scope="col">Last Update</th>
    <th scope="col">Status</th>
    <th scope="col">
      <button type="button" class="btn btn-sm btn-success" (click)="openModal(addModal)"
              tooltip="Add a new lab.">
        Add
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let lab of labList">
    <th scope="row" style="width: 25%">{{lab.test}}</th>
    <td>{{lab.date}}</td>
    <td>{{lab.status}}</td>
    <td>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="openModal(removeModal, lab)">
        <span aria-hidden="true">&times;</span>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #removeModal>
  <div class="modal-header">

  </div>
  <div class="modal-body">
    Remove lab "{{focused.test}}"?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>
</ng-template>


<ng-template #addModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Lab</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">


        <label>Lab Description</label>
        <select class="form-control" [(ngModel)]="newLabName" name="test">
          <option *ngFor="let t of testOptions">{{t}}</option>
        </select>

        <label>Ordered Date</label>
        <input class="form-control" [(ngModel)]="newLabDate" name="date">

        <label>Lab Status</label>
        <select class="form-control" [(ngModel)]="newLabStatus" name="status">
          <option *ngFor="let s of labStatues">{{s}}</option>
        </select>

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onConfirm()">Add</button>
  </div>
</ng-template>
