<div class="container-flex">
  <div class="split-example" style="height: 860px">
    <split direction="horizontal" [useTransition]="true">
      <split-area [size]="50">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="border-bottom: 1px solid black">
          <a class="navbar-brand" href="#">Clinical Notes</a>
          <div class="btn-group" role="group" aria-label="Basic example">

            <button class="btn btn-secondary" [ngx-scroll-to]="'present-illness'">Present Illness</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'medical-history'">MH</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'family-history'">FH</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'social-history'">SocH</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'review-of-system'">RoS</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'physical-exam'">PE</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'allergies'">Allergies</button>
            <button class="btn btn-secondary" [ngx-scroll-to]="'medications'">Meds</button>
          </div>
        </nav>

        <div class="box-shadow mx-auto text-left px-3">
          <h4 id="present-illness">History of Present Illness</h4>
          <div *ngFor="let note of presentIllnessNotes">
            <app-note-section [text]="note.text" [type]="note.type"
                              (removeEmit)="openModal($event, presentIllnessNotes, removeModal)"></app-note-section>
          </div>
          <button class="btn btn-secondary mb-4" (click)="add(presentIllnessNotes)">Add</button>

          <h4 id="medical-history">Medical History</h4>
          <div *ngFor="let note of medicalHistoryNotes">
            <app-note-section [text]="note.text" [type]="note.type"
                              (removeEmit)="openModal($event, medicalHistoryNotes, removeModal)"></app-note-section>
          </div>
          <button class="btn btn-secondary mb-4" (click)="add(medicalHistoryNotes)">Add</button>

          <h4 id="family-history">Family History</h4>
          <div *ngFor="let note of familyHistoryNotes">
            <app-note-section [text]="note.text" [type]="note.type"
                              (removeEmit)="openModal($event, familyHistoryNotes, removeModal)"></app-note-section>
          </div>
          <button class="btn btn-secondary mb-4" (click)="add(familyHistoryNotes)">Add</button>

          <h4 id="social-history">Social History</h4>
          <div *ngFor="let note of socialHistoryNotes">
            <app-note-section [text]="note.text" [type]="note.type"
                              (removeEmit)="openModal($event, socialHistoryNotes, removeModal)"></app-note-section>
          </div>
          <button class="btn btn-secondary mb-4" (click)="add(socialHistoryNotes)">Add</button>

          <h4 id="review-of-system">Review of System</h4>
          <div *ngFor="let note of reviewOfSystemNotes">
            <app-note-section [text]="note.text" [type]="note.type"
                              (removeEmit)="openModal($event, reviewOfSystemNotes, removeModal)"></app-note-section>
          </div>
          <button class="btn btn-secondary mb-4" (click)="add(reviewOfSystemNotes)">Add</button>

          <h4 id="physical-exam">Physical Exam</h4>
          <div *ngFor="let note of physicalExamNotes">
            <app-note-section [text]="note.text" [type]="note.type"
                              (removeEmit)="openModal($event, physicalExamNotes, removeModal)"></app-note-section>
          </div>
          <button class="btn btn-secondary mb-4" (click)="add(physicalExamNotes)">Add</button>


          <h4 id="allergies">Allergies</h4>
          <table class="table table-sm">
            <thead>
            <tr>
              <th scope="col" style="width: 25%">Name</th>
              <th scope="col">Onset Date</th>
              <th scope="col">Status</th>
              <th scope="col" style="width: 20%">
                <button type="button" class="btn btn-sm btn-success" (click)="openAddAllergy(addAllergModaly)"
                        tooltip="Add a new lab.">
                  Add
                </button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let allergy of allergyList">
              <th scope="row" style="width: 25%">{{allergy.name}}</th>
              <td>{{allergy.onset_date}}</td>
              <td>{{allergy.status}}</td>
              <td style="width: 20%">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="openModal(removeModal, allergy)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>


          <h4 id="medications">Medications</h4>
          <table class="table table-sm table-hover">
            <thead>
            <tr>
              <th scope="col" style="width: 25%">Name</th>
              <th scope="col">ICD Dx Code</th>
              <th scope="col">Status</th>
              <th scope="col">Diagnosed</th>
              <th scope="col" style="width: 20%">
                <button type="button" class="btn btn-sm btn-success" (click)="openAddMed(addMedication)"
                        tooltip="Add a new problem.">
                  Add
                </button>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let med of medicationList">
              <th scope="row" style="width: 25%">{{med.name}}</th>
              <td>{{med.description}}</td>
              <td>{{med.status}}</td>
              <td>{{med.start_date}}</td>
              <td style="width: 20%">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="openModal(removeModal, med)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </td>
            </tr>
            </tbody>

          </table>

        </div>

      </split-area>
      <split-area [size]="assessmentSize">
        <div class="box-shadow mx-auto">
          <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="border-bottom: 1px solid black">
            <a class="navbar-brand" href="#">Assessment</a>
            <div class="ml-auto">
              <button class="btn navbar-text" (click)="toggleChecklist()">
                checklist
              </button>
            </div>
          </nav>
        </div>

        <div class="box-shadow mx-auto px-3" style="width: 97%;">
          <app-problem-list class="mb-2"></app-problem-list>
          <app-lab-list class="mb-2"></app-lab-list>
          <app-referral-list class="mb-2"></app-referral-list>
          <h4>Plan</h4>
          <textarea class="form-control mb-3" rows="3"></textarea>
        </div>


      </split-area>
      <split-area [size]="checklistSize">
        <div class="box-shadow mx-auto">
          <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="border-bottom: 1px solid black">
            <a class="navbar-brand" href="#">Quality Checklist</a>
            <button type="button" class="close navbar-text ml-auto" data-dismiss="modal" aria-label="Close"
                    (click)="toggleChecklist()">
              <span aria-hidden="true">&times;</span>
            </button>

          </nav>
        </div>
        <div class="box-shadow mx-auto text-left px-3 pt-2">
          <div *ngFor="let item of checklist">
            <div class="form-check py-1">
              <input class="form-check-input" type="checkbox" value="" id="{{item.name}}">
              <label class="form-check-label" for="{{item.name}}">
                {{item.name}}
              </label>
            </div>
          </div>
        </div>

      </split-area>
    </split>
  </div>

</div>


<ng-template #removeModal>
  <div class="modal-header">
  </div>
  <div class="modal-body">
    Remove "{{focused}}"?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>
</ng-template>

<ng-template #addAllergModaly>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Allergy</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">


        <label>Name</label>
        <input class="form-control" [(ngModel)]="newAllergy.name" name="name">

        <label>Start Date</label>
        <input class="form-control" [(ngModel)]="newAllergy.onset_date" name="start_date">

        <label>Status</label>
        <input class="form-control" [(ngModel)]="newAllergy.status" name="status">

      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="addAllergy()">Add</button>
  </div>
</ng-template>

<ng-template #addMedication>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Medication</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">


        <label>Name</label>
        <input class="form-control" [(ngModel)]="newMed.name" name="name">

        <label>Description</label>
        <input class="form-control" [(ngModel)]="newMed.description" name="description">

        <label>Start Date</label>
        <input class="form-control" [(ngModel)]="newMed.start_date" name="date">

        <label>Status</label>
        <input class="form-control" [(ngModel)]="newMed.status" name="status">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="addMed()">Add</button>
  </div>
</ng-template>
