<h3 class="text-left">Problems</h3>
<table class="table table-sm table-hover">
  <thead>
  <tr>
    <th scope="col">Description</th>
    <th scope="col">ICD Dx Code</th>
    <th scope="col">Status</th>
    <th scope="col">Diagnosed</th>
    <th scope="col">
      <button type="button" class="btn btn-sm btn-success" (click)="openModal(addProblem)"
              tooltip="Add a new problem.">
        Add
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let problem of problemList">
    <th scope="row" style="width: 25%">{{problem.description}}</th>
    <td>{{problem.icd10}}</td>
    <td>{{problem.status}}</td>
    <td>{{problem.diagnosed}}</td>
    <td style="width: 20%">
      <button class="btn btn-sm btn-secondary">View Source</button>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="openModal(removeProblem, problem)">
        <span aria-hidden="true">&times;</span>
      </button>
    </td>
  </tr>
  </tbody>

</table>

<ng-template #removeProblem>
  <div class="modal-header">

  </div>
  <div class="modal-body">
    Remove problem "{{focused.description}}"?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>
</ng-template>


<ng-template #addProblem>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Problem</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">


        <label>Problem Description</label>
        <input class="form-control" [(ngModel)]="newProblemDescription" name="description">

        <label>ICD 10 Code</label>
        <input class="form-control" [(ngModel)]="newProblemicd10" name="icd10">

        <label>Problem Status</label>
        <select class="form-control" [(ngModel)]="newProblemStatus" name="status">
          <option *ngFor="let s of problemStatusOptions">{{s}}</option>
        </select>

        <label>Problem Diagnosed Date</label>
        <input class="form-control" [(ngModel)]="newProblemDiagnosed" name="diagnosed">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onConfirm()">Add</button>
  </div>
</ng-template>
