<h4 class="text-left">Problems</h4>
<table class="table table-sm table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col" style="width: 30%">Description</th>
    <th scope="col" style="width: 20%">ICD Dx Code</th>
    <th scope="col" style="width: 25%">Status</th>
    <th scope="col" style="width: 15%">Diagnosed</th>
    <th scope="col" style="width: 10%">
      <button type="button" class="btn btn-sm btn-outline-success" (click)="openModal(addProblem)"
              tooltip="Add a new problem.">
        Add
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let problem of problemList">
    <th scope="row" style="width: 30%">{{problem.description}}</th>
    <td style="width: 20%">{{problem.icd10}}</td>
    <td style="width: 25%">{{problem.status}}</td>
    <td style="width: 15%">{{problem.diagnosed}}</td>
    <td style="width: 10%">
      <div class="btn-group" role="group" aria-label="Lab Modify Buttons">
        <button class="btn btn-sm btn-outline-primary" tooltip="edit">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button class="btn btn-sm btn-outline-danger" (click)="openModal(removeProblem, problem)" tooltip="remove">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>

</table>

<ng-template #removeProblem>
  <div class="modal-header">

  </div>
  <div class="modal-body">
    Remove problem "{{focused.description}}"?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="dismiss()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="remove()">Remove</button>
  </div>
</ng-template>


<ng-template #addProblem>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add New Problem</h4>
    <button type="button" class="close pull-right"
            aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">


        <label>Problem Description</label>
        <input class="form-control" [(ngModel)]="newProblemDescription" name="description">

        <label>ICD 10 Code</label>
        <input class="form-control" [(ngModel)]="newProblemicd10" name="icd10">

        <label>Problem Status</label>
        <select class="form-control" [(ngModel)]="newProblemStatus" name="status">
          <option *ngFor="let s of problemStatusOptions">{{s}}</option>
        </select>

        <label>Problem Diagnosed Date</label>
        <input class="form-control" [(ngModel)]="newProblemDiagnosed" name="diagnosed">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="onConfirm()">Add</button>
  </div>
</ng-template>
